<template id="config_Settings">
	<$
		var btn = "";
		if (navigator.userAgent.indexOf('Chrome')>-1) {
			btn = "<div id='connect_database' style = 'margin-left:210px;'></div>";
		} else {
			btn = "<div id='connect_database' class = 'com_zimbra_erp_mail_connector_config_btn1'></div>";
		}
	$>
	<fieldset class='com_zimbra_erp_mail_connector_fieldHeight'>
	<legend><$=data.zimlet.getMessage("action")$></legend>
	<table class='erpConnector_marginIE' style='margin-left:12%;'>
		<tr>
			<td><$=data.zimlet.getMessage("connector_configuration_lbl_urladdress")$></td>
			<td><input type='text' id='erpConnector_urladdress' value='' class='erpConnector_urlWidth'/></td>
			<td><$=data.zimlet.getMessage("connector_configuration_lbl_port")$></td>
			<td><input type='text' id='erpConnector_port'></td>
			<td id='getDatabase' style='padding-left:2%;'></td>
		</tr>
		<tr>
			<td style='width:15%'><$=data.zimlet.getMessage("connector_configuration_lbl_database")$></td>
			<td><select id='com_zimbra_erp_mail_connector_getdatabase' style='width:145px;'></select></td>
		</tr>
	</table>
	</fieldset>
	<fieldset class='com_zimbra_erp_mail_connector_fieldHeight'>
		<table class='com_zimbra_erp_mail_connector_marginLogin'>
			<tr>
				<td><$=data.zimlet.getMessage("connector_configuration_lbl_username")$></td>
				<td class='voz_text_width'><input type='text' id='com_zimbra_erp_mail_connector_username' class='com_zimbra_erp_mail_connector_textWidth'/></td>
			</tr>
			<tr>
				<td><$=data.zimlet.getMessage("connector_configuration_lbl_password")$></td>
				<td><input type='password' id='com_zimbra_erp_mail_connector_userpassword' class='com_zimbra_erp_mail_connector_textWidth'/></td>
				<td class='com_zimbra_erp_mail_connector_showpass'><div><div style='float:left'><input type='checkbox' id='passchk' onclick='com_zimbra_erp_mail_connector_Settings.showpass()'/></div><div class='com_zimbra_erp_mail_connector_showpassLabel'><$=data.zimlet.getMessage("show_password")$></div></div></td>
			</tr>
		</table>
		<table>
			<tr>
				<td><$=btn$></td>
			</tr>
		</table>
	</fieldset>
</template>
